{% extends "base.html" %}

{% block content %}

  {% for p in posts %}
 <div class="well media col-sm-10 col-sm-offset-1">
  		<div class="media-body">
        <div style="margin-bottom:25px; color:red">
        <h4>{{ error }}</h4>
      </div>
    		<h4 class="text-center media-heading"><a href="/{{p.key().id()}}">{{p.subject}}</a></h4>
            <br><span><i class="glyphicon glyphicon-calendar"></i> {{p.created.strftime("%b %d, %Y")}} </span>
            <span class="text-right pull-right">By {{p.postuser}}</span>
            <br><hr>
            <p style="margin-top:25px">{{p.content | safe}}</p>
            <div class="pull-right">
                <a href="/like/{{p.key().id()}}" class="btn"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.postlike}}</a><a href="/unlike/{{p.key().id()}}" class="btn"><i class="glyphicon glyphicon-thumbs-down"></i></a>|
              <a href="/{{p.key().id()}}" class="btn"><i class="glyphicon glyphicon-comment"></i> {{p.postcomment}} </a>|
                <a href="/comment/{{p.key().id()}}" class="btn">Add Comment</a>
            </div>
       </div>
  </div>
  {% endfor %}

{% endblock %}
