{% extends "base.html" %}

{% block content %}

  <div class="col-sm-6 col-sm-offset-3">
  <div class = "well panel text-center">
  <div class="panel-heading"><h1> New Post </h1></div>
    <div class="panel-body">
        <form method = 'POST' class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2 col-sm-offset-1" for="subject">Subject:</label>
              <div class="col-sm-7">
                <input type="textbox" class="form-control" id="subject" placeholder="Enter Subject" name="subject">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2 col-sm-offset-1" for="content">Content:</label>
              <div class="col-sm-7">
                <textarea rows="10" class="form-control" id="content" placeholder="Enter content" name="content"></textarea>
              </div>
            </div><br>  
            <div class="form-group">
              <div class="">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href = "/" class ="btn btn-default"> Cancel </a>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
